root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
#max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[{*.ant,*.dproj,*.fxml,*.jhm,*.jnlp,*.jrxml,*.lpi,*.rng,*.sdef,*.tld,*.wsdl,*.xml,*.xsd,*.xsl,*.xslt,*.xul,phpunit.xml.dist}]
indent_style = space

[{zshrc,*.bash,*.bats,*.dash,*.ksh,*.mksh,*.sh,.bash_aliases,.bash_logout,.bash_profile,.bashrc,.profile,*.zsh}]
indent_size = 2
indent_style = space
tab_width = 2


[{*.nix,*.json}]
indent_style = space
indent_size = 2
