<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.nixos.snippety-helper</string>
        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>-c</string>
            <string>mkdir -p ~/.local/state/snippety &amp;&amp; \
                ~/Downloads/.snippety-helper/bin/snippety-helper.sh \
                >~/.local/state/snippety/org.nixos.snippety-helper.stdout.log \
                2>~/.local/state/snippety/org.nixos.snippety-helper.stderr.log</string>
        </array>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/run/current-system/sw/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        </dict>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
    </dict>
</plist>

